# Cache and logs (Symfony2)
/ParkingManager/app/cache/*
/ParkingManager/app/logs/*
!ParkingManager/app/cache/.gitkeep
!ParkingManager/app/logs/.gitkeep

# Email spool folder
/ParkingManager/app/spool/*

# Cache, session files and logs (Symfony3)
/ParkingManager/var/cache/*
/ParkingManager/var/logs/*
/ParkingManager/var/sessions/*
!ParkingManager/var/cache/.gitkeep
!ParkingManager/var/logs/.gitkeep
!ParkingManager/var/sessions/.gitkeep

# Logs (Symfony4)
/ParkingManager/var/log/*
!ParkingManager/var/log/.gitkeep

# Parameters
/ParkingManager/app/config/parameters.yml
/ParkingManager/app/config/parameters.ini

# Managed by Composer
/ParkingManager/app/bootstrap.php.cache
/ParkingManager/var/bootstrap.php.cache
/ParkingManager/bin/*
!ParkingManager/bin/console
!ParkingManager/bin/symfony_requirements
/ParkingManager/vendor/

# Assets and user uploads
/ParkingManager/public/bundles/
/ParkingManager/public/uploads/

# PHPUnit
/ParkingManager/app/phpunit.xml
/phpunit.xml

# Build data
/ParkingManager/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

#docker
/docker/data/db/*
!docker/data/db/.gitkeep